.Excursions {
    max-width: var(--width-main-content);
    margin: 0 auto;
    padding: 0.5rem 2rem 2rem 2rem;
    width: 100%;
}

.content {
    width: 100%;
}

.Excursions h1 {
    color: var(--c-dark-blue);
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 28px;
    font-weight: var(--font-weight-semibold);
}

.description {
    color: var(--c-dark-gray);
    font-size: var(--font-size-standart);
    line-height: 1.6;
    margin-bottom: 0;
    max-width: 800px;
}

.error {
    color: var(--color-accent);
    font-size: var(--font-size-standart);
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: rgba(52, 114, 192, 0.1);
    border-radius: var(--border-radius);
}

.grid {
    display: grid;
    gap: 4px;
    margin-top: 0.5rem;
}

@media (max-width: 1024px) {
    .Excursions {
        padding: 1.5rem;
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
    
    .Excursions {
        padding: 1.5rem 1rem;
    }
} 