
services:
  museum_db:
    container_name: museum_db
    image: postgres:15
    volumes:
      - museum_postgres_data:/var/lib/postgresql/data
      - ./db_dumps:/dump/
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    networks:
      - museum_network
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "${POSTGRES_USER}", "-d", "${POSTGRES_DB}" ]
      start_period: 2s
      interval: 3s
      timeout: 2s
      retries: 15
    ports:
      - "5432:5432"
    env_file:
      - ./.env

  museum_pgadmin:
    container_name: museum_pgadmin
    image: dpage/pgadmin4
    env_file:
      - ./.env
    networks:
      - museum_network
    ports:
      - "5050:80"
    volumes:
      - museum_pgadmin_data:/var/lib/pgadmin
      - ./servers.json:/pgadmin4/servers.json
    depends_on:
      museum_db:
        condition: service_healthy
    restart: unless-stopped


volumes:
  museum_postgres_data:
    driver: local
  museum_pgadmin_data:
    driver: local

networks:
  museum_network:
    name: museum_network
    driver: bridge