# Django settings
SECRET_KEY=your-secret-key-here-change-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database
DB_NAME=museum_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=museum_db
DB_PORT=5432

GIGACHAT_AUTH_KEY=Basic MDE5YTU4NmUtNzk2Zi03MjZmLWFiY2MtYzI2ZTQzMDEyNjQ1OmUzZmM0ZjNjLTE0NGItNDBiNC05Y2RjLTI4NmVkOGFhMTY4OA==
CLIENT_ID=019a586e-796f-726f-abcc-c26e43012645
SCOPE=GIGACHAT_API_PERS
