
:root {
    --c-white: #ffffff;
    --c-gray: #d9d9d9;
    --c-dark-gray: #616161;
    --c-blue: #3472C0;
    --c-dark-blue: #2A2F66FF;

    --font-size-standart: 16px;
    --font-size-big: 32px;

    --font-weight-light: 300;
    --font-weight-semibold: 600;

    --border-radius: 8px;

    --width-main-content: 1280px;
}