.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: var(--font-size-standart);
  font-family: var(--font-main);
  color: var(--color-ink);
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 8px 24px 0 24px;
  box-sizing: border-box;
}

.item {
  display: flex;
  align-items: center;
}

.item a {
  color: var(--color-accent);
  text-decoration: none;
  font-weight: var(--font-weight-semibold);
  transition: color var(--transition-medium);
}

.item a:hover {
  color: var(--color-accent-hover);
  text-decoration: underline;
}

.current {
  font-weight: var(--font-weight-semibold);
  color: var(--color-secondary);
}

.separator {
  margin: 0 6px;
  color: var(--color-block-background-dark-gray);
}

@media (min-width: 768px) {
  .breadcrumbs {
    padding: 8px 48px 0 48px;
  }
}

@media (min-width: 1024px) {
  .breadcrumbs {
    padding: 8px 96px 0 96px;
  }
}

@media (max-width: 768px) {
  .breadcrumbs {
    padding: 8px 16px 0 16px;
  }
}
