.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: var(--font-size-standart);
  font-family: var(--font-main);
  color: var(--color-ink);
}

.item {
  display: flex;
  align-items: center;
}

.item a {
  color: var(--color-accent);
  text-decoration: none;
  font-weight: var(--font-weight-semibold);
  transition: color var(--transition-medium);
}

.item a:hover {
  color: var(--color-accent-hover);
  text-decoration: underline;
}

.current {
  font-weight: var(--font-weight-semibold);
  color: var(--color-secondary);
}

.separator {
  margin: 0 6px;
  color: var(--color-block-background-dark-gray);
}
