.ExcursionCard {
    width: 100%;
    height: 120px;
    background-color: var(--color-block-background-gray);
    border-radius: var(--border-radius);
    transition: transform var(--transition-medium);
}

.ExcursionCard:hover {
    transform: scale(0.98, 0.95);
}

.link {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.ContentWrapper {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    background-image: linear-gradient(to right, var(--c-dark-blue) 7%, rgba(0, 0, 0, 0) 100%);
    position: relative;
    transition: background-image var(--transition-medium);
}

.ContentWrapper:hover {
    background-image: linear-gradient(to right, var(--c-blue) 7%, rgba(0, 0, 0, 0) 100%);
}

.ContentWrapper p {
    position: absolute;
    top: 50%;
    margin-top: -0.625em;
    font-weight: bold;
    font-size: 28px;
    padding-left: 80px;
    color: var(--c-white);
} 