.card {
    width: 100%;
    min-height: 100px;
    background-size: cover;
    background-position: center center;
    border-radius: var(--border-radius);
    transition: transform var(--transition-medium);
    text-decoration: none;
    color: inherit;
    overflow: hidden;
    display: block;
    cursor: pointer;
}

.card:hover {
    transform: scale(0.98, 0.95);
}

.overlay {
    width: 100%;
    height: 100%;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    border-radius: var(--border-radius);
    background-image: linear-gradient(to right, var(--c-dark-blue) 10%, rgba(0, 0, 0, 0) 100%);
    transition: background-image var(--transition-medium);
}

.card:hover .overlay {
    background-image: linear-gradient(to right, var(--c-blue) 10%, rgba(0, 0, 0, 0) 100%);
}

.title {
    margin: 0;
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-semibold);
    color: var(--c-white);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.meta {
    margin: 0;
    font-size: 13px;
    color: var(--c-white);
    opacity: 0.9;
}