.ItemCard {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 200px;
    text-align: center;
}

.ItemCard a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 350px;

    background-color: var(--color-block-background-light-gray);
    border-radius: var(--border-radius);

    overflow: hidden;
    position: relative;

    transition: transform .2s ease;
}

.ItemCard a:hover {
    transform: scale(0.95);
}

.ItemCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    display: block;
}

.ItemCard p {
    color: var(--c-dark-blue);
    margin: 0;
}
