
.MuseumWidget {
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center center;
    border-radius: var(--border-radius);
}
.MuseumWidget:hover{

    scale: 98% 95%;
}

.ContentWrapper {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    background-image: linear-gradient(to right, var(--c-dark-blue) 10%, rgba(0, 0, 0, 0) 100%);
    position: relative;
}
.ContentWrapper:hover{
    background-image: linear-gradient(to right, var(--c-blue) 10%, rgba(0, 0, 0, 0) 100%);
}

.ContentWrapper p{
    position: absolute;
    top: 50%;
    margin-top: -0.625em;
    font-weight: bold;
    font-size: var(--font-size-big);
    padding-left: 80px;
    color: var(--c-white);
}